* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "poppins" , sans-serif;
}

body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background : url('pxfuel.jpg') no-repeat;
background-position: center;
}

.wrapper{
    width: 420px;
background : transparent;
border: 1px rgb(0, 0, 0);
backdrop-filter : blur(20px);
box-shadow: 0 0 5px rgb(97, 88, 74);
color:rgb(247, 244, 244);
border-radius: 10px;
padding: 30px 40px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    
    
}
.input-box input{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background: transparent;
    border: 2px solid rgb(250, 252, 254) ;
    font-size: 16px;
    color: #100f0f;
    padding: 20px 45px 20px 20px;
}
.input-box:focus{
color: #f0f2f4;

}
.input-box ::placeholder{
    color: rgb(245, 246, 247);
}
.input-box i {
    position: absolute;
    right: 20px;
    top : 50%;
    transform: translateY(-50%);
    font-size : 20px;
    
}
.wrapper .remember-forgotpassword{

display: flex;
justify-content: space-between;
font-size: 14.5px;
margin: -15px 0 15px ;

}
.remember-forgotpassword{
color:#10314b;
margin-right: 3px;
}
.remember-forgotpassword a{
    color: #10314b;
    text-decoration: none;
}
.remember-forgotpassword a:hover {
    text-decoration: underline;
}
.wrapper .button {
    width: 100%;
    height: 45px;
    border-radius: 40px ;
    
}
.button{
    
border: 1px rgb(210, 217, 223);
font-size: larger;
}
.button:hover{
    background-color: #d7deea;
    transform: scale(1.01);
    
}

.wrapper .register {
    text-align: center;
    color: #f8f7f7;
    margin: 20px 0 15px;
}
.wrapper p a {
    color: #f0f2f4;
    font-weight: 600;
    text-decoration: none;

}
.register p a:hover {
    text-decoration: underline;
}